<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907855899182-47ee57vbpsg1dbsg4f1l1rf0vt1amfi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907855899182-47ee57vbpsg1dbsg4f1l1rf0vt1amfi4</string>
	<key>API_KEY</key>
	<string>AIzaSyBNkZ986hzqT3kyHsrK0QQVWMsNrtp48ig</string>
	<key>GCM_SENDER_ID</key>
	<string>907855899182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.learnmake.LMANotes</string>
	<key>PROJECT_ID</key>
	<string>note-project-36291</string>
	<key>STORAGE_BUCKET</key>
	<string>note-project-36291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907855899182:ios:b85bcdbac92906ddc04dbf</string>
</dict>
</plist>